<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security.xsd">

    <!-- Enable use-expressions -->
    <!--
    <http auto-config="true" use-expressions="true">
        <intercept-url pattern="/admin**" requires-channel="https" access="hasRole('ROLE_ADMIN')"/>
        <intercept-url pattern="/register-form" requires-channel="https" access="permitAll"/>
        <access-denied-handler error-page="/403"/>
        <form-login
                login-page="/login"
                login-processing-url="/check_login"
                default-target-url="/welcome"
                authentication-failure-url="/login?error"
                username-parameter="username"
                password-parameter="password"
                authentication-success-handler-ref="savedRequestAwareAuthenticationSuccessHandler"
        />
        <logout logout-url="/logout" logout-success-url="/login?logout" delete-cookies="JSESSIONID"/>
        <csrf/>
        <remember-me
                token-validity-seconds="63072000"
                remember-me-parameter="remember-me"
                data-source-ref="dataSource"/>
    </http>

    <authentication-manager>
        <authentication-provider user-service-ref="myUserDetailsService">
            <password-encoder hash="bcrypt"/>
        </authentication-provider>
    </authentication-manager>
    -->
</beans:beans>